* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/1900x1900-000000-81-0-0.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

main {
    width: 1000px;
    height: auto;
    margin: auto;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin: auto;
    padding: 15px;
}

img {   
    display: flex;
    width: 755px;
    height: auto;
    margin: auto;
    padding: 15px;
}

.info-container {
    margin: auto;
    display: flexbox;
    width: 1000px;
    height: 500px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 15px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 15px;
}

p {
    padding: 15px;
}

ul {
    margin-left: 30px;
}


