* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #32021F;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

h1 {
    color: #6f7d8c;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin: auto;
    padding: 15px;
}

img {   
    display: flex;
    width: 755px;
    height: auto;
    margin: auto;
    padding: 15px;
}

.info-container {
    margin: auto;
    display: flexbox;
    width: 1000px;
    height: 500px;

}

h2 {
    color: #6f7d8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 15px;
}

h3 {
    color: #6f7d8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: auto;
    padding: 15px;
}

p {
    color: #6f7d8c;
    padding: 15px;
}


